---
---

@import "paper.bootstrap.css";

.navbar-brand {
  padding: 20px 15px;
  img {
    height: 100%;
  }
}

body {
  background: #dedede;
}

a {
  -webkit-transition: none;
  -o-transition: all 0;
  transition: none;
}

.fb-comments > span {
	margin-top: 15px;
}

@import "post";