---
---

@import "paper.bootstrap.css";

body {
  background: #dedede;
}

h3 {
	font-weight: 300;
}

a {
  -webkit-transition: none;
  -o-transition: all 0;
  transition: none;
}

.navbar-brand {
  padding: 20px 15px;
  img {
    height: 100%;
  }
}

.navbar-nav .fa {
	margin-right: 4px;
}

.navbar-default .navbar-nav > li > a {
	color: #767676;
}

.social-icons {
  a {
    margin-right: 20px;
    color: #555;
    text-decoration: none;
  }
}

@import "post";