---
layout: page
---
<div class="row">
    <div class="col-md-12">
        <h4>Current Team</h4>
        <hr>
        <div class="row text-center">
            {% assign current_sorted = site.data.contributors.current_team | sort_natural: 'name' %}
            {% for contributor in current_sorted %}
            <div class="col-md-3 col-xs-6 col-sm-4 contributor-card">
                <img src="{{contributor.imageSrc}}" class="center-block img-responsive img-circle" alt="{{contributor.name}}" height="100" width="100" loading="lazy">
                <h5 class="margin-bottom-0">{{contributor.name}}</h5>
                <p class="text-uppercase">{{contributor.position}}</p>
            </div>
            <div class="visible-xs">
                {% assign offset = forloop.index | modulo: 2 %}
                {% if offset == 0 %}
                        <div class="clearfix"></div>
                {% endif %}
            </div>
            <div class="visible-sm">
                {% assign offset = forloop.index | modulo: 4 %}
                {% if offset == 0 %}
                        <div class="clearfix"></div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <h4>Past Contributors</h4>
            <hr>
            <div class="row text-center">
                {% assign members_sorted = site.data.contributors.active_members | sort_natural: 'name' %}
                {% for member in members_sorted %}
                <div class="col-md-3 col-xs-6 col-sm-6 contributor-card">
                    <img src={{member.imageSrc}} class=" center-block img-responsive img-circle" alt="{{member.name}}" height="100" width="100">
                    <h5 class="margin-bottom-0">{{member.name}}</h5>
                </div>
                <div class="visible-xs">
                        {% assign offset = forloop.index | modulo: 2 %}
                        {% if offset == 0 %}
                                <div class="clearfix"></div>
                        {% endif %}
                    </div>
                    <div class="visible-sm">
                        {% assign offset = forloop.index | modulo: 4 %}
                        {% if offset == 0 %}
                                <div class="clearfix"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
