<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="logo.png"/>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <!--<li><a href="#"><i class="fa fa-list"></i> Events</a></li>-->
        <!--<li><a href="/gallery"><i class="fa fa-photo"></i> Photo Gallery</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#"> <i class="fa fa-star"></i> Join GDG Baroda</a></li>-->
      </ul>
    </div>
  </div>
</nav>