<div class="panel panel-success">
  <div class="panel-heading">Latest Posts</div>
  <div class="panel-body" style="padding: 0px;">
    <ul class="nav nav-pills nav-stacked">
      {% for post in site.posts limit:10 %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }} <br />
          <div class="post-details">By {{post.author}} on {{post.date | date_to_string}}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Join GDG Baroda</div>
  <div class="panel-body">
    <p>
      We are open for everyone: groups, students, industry professionals, all are welcome!
    </p>
    <p>
      By filling the form, you are showing your interest in joining GDG Baroda. You will be added to our community
      when you attend your first event.
    </p>
    <a class="btn btn-block btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLScsk2JpttDCSVtTlNmrXXY3XtAoCmGn9HuIv9B9dDkEMIBghA/viewform">Join Us</a>
  </div>
</div>