<div class="panel panel-primary">
  <div class="panel-heading">Join GDG Baroda</div>
  <div class="panel-body">
    <p>
      We are an open for all and diverse group, students, industry, professionals, all are welcome !
    </p>
    <p>
      By filling the form, you are showing your interest in joining GDG Baroda. You will be added to our community
      when you attend your first event.
    </p>
    <a class="btn btn-block btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLScsk2JpttDCSVtTlNmrXXY3XtAoCmGn9HuIv9B9dDkEMIBghA/viewform">I want to join !</a>
  </div>
</div>