<div class="panel panel-success">
  <div class="panel-heading">Latest Posts</div>
  <div class="panel-body" style="padding: 0px;">
    <ul class="nav nav-pills nav-stacked">
      {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }} <br />
          <div class="post-details">By <highlight>{{post.author}}</highlight> on <highlight>{{post.date | date_to_string}}</highlight></div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="panel-footer">
    <a href="/all-posts">All Posts →</a>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Join GDG Baroda</div>
  <div class="panel-body">
    <p>
      We are open for everyone: groups, professional developers, hackers, experts, students, all are welcome!
    </p>
    <a class="btn btn-block btn-primary" target="_blank" href="{{site.join_url}}">Join Us</a>
  </div>
</div>