.post-details {
  display: block;
  font-size: 12px;
  color: $light;
  highlight {
    color: $black
  }
}

.post-content {
  font-size: 16px;
  line-height: 1.618;
  color:$black;
  img {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.post-meta {
  font-size: 14px;
}

.post-preview {
  .title {
    font-size: 16px;
  }
}

.fb-comments > span {
	margin-top: 15px;
}

.center-image{
    margin: 0 auto;
    display: block;
}
